<%- include("header") -%>

<div class="container">
    <h1>Configure Switches</h1>

    <div class="accordion mb-3" id="accordionSwitches">
        <div class="mb-3">
            <% for (let index = 0; index < switches.length; index++) { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id=<%="heading" + index%>>
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=<%="#collapse" + index%> aria-expanded="true" aria-controls=<%="collapse" + index%>>
                        <%= switches[index].name %>
                        </button>
                    </h2>
                    <div id=<%="collapse" + index%> class="accordion-collapse collapse" aria-labelledby=<%="heading" + index%> data-bs-parent="#accordionSwitches">
                        <div class="accordion-body">
                            <form class="row g-3" action="/editSwitch" method="POST">
                                <div class="col-12">
                                    <label for="switchName" class="form-label">Switch Name</label>
                                    <input type="text" class="form-control" id="switchName" placeholder="Steckdose Wohnzimmer 2" name="name" value="<%=switches[index].name%>">
                                    <input type="hidden" name="_id" value="<%=switches[index]._id%>">
                                </div>
                                <div class="col-md-6">
                                    <label for="systemCode" class="form-label">System Code</label>
                                    <div class="input-group flex-nowrap">
                                        <select class="form-select" aria-label="systemCode" name="systemCode[0]">
                                            <option selected><%=switches[index].systemCode.charAt(0)%></option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                        <select class="form-select" aria-label="systemCode" name="systemCode[1]">
                                            <option selected><%=switches[index].systemCode.charAt(1)%></option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                        <select class="form-select" aria-label="systemCode" name="systemCode[2]">
                                            <option selected><%=switches[index].systemCode.charAt(2)%></option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                        <select class="form-select" aria-label="systemCode" name="systemCode[3]">
                                            <option selected><%=switches[index].systemCode.charAt(3)%></option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                        <select class="form-select" aria-label="systemCode" name="systemCode[4]">
                                            <option selected><%=switches[index].systemCode.charAt(4)%></option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                    </div>
                                        </div>
                                <div class="col-md-6">
                                    <label for="unitCode" class="form-label">Unit Code</label>
                                    <select class="form-select unit-code" aria-label="unitCode" name="unitCode">
                                        <option selected><%=switches[index].unitCode%></option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="reaSelection" class="form-label">Area</label>
                                    <select class="form-select" aria-label="Default select example" id="areaSelection" name="area">
                                        <option selected>Erdgeschoss</option>
                                        <option value="1">Obergeschoss</option>
                                        <option value="2">Garten</option>
                                        <option value="3">Keller</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-secondary btn-lg configure-botton" name="button" value="edit">Submit</button>
                                    <button type="submit" class="btn btn-secondary btn-lg configure-botton" name="button" value="delete">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                   
            <% } %>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNew">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNew" aria-expanded="true" aria-controls="collapseNew">
                Add Switch
                </button>
            </h2>
            <div id="collapseNew" class="accordion-collapse collapse" aria-labelledby="headingNew" data-bs-parent="#accordionSwitches">
                <div class="accordion-body">
                    <form class="row g-3 needs-validation" action="/newSwitch" method="POST">
                        <div class="col-12 has-validation">
                            <label for="switchName" class="form-label">Switch Name</label>
                            <input type="text" class="form-control" id="switchName" placeholder="Steckdose Wohnzimmer 2" name="name" required>
                            <div class="invalid-feedback">
                                Please provide a name.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="systemCode" class="form-label">System Code</label>
                            <div class="input-group">
                                <select class="form-select" aria-label="systemCode" name="systemCode[0]">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <select class="form-select" aria-label="systemCode" name="systemCode[1]">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <select class="form-select" aria-label="systemCode" name="systemCode[2]">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <select class="form-select" aria-label="systemCode" name="systemCode[3]">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                                <select class="form-select" aria-label="systemCode" name="systemCode[4]">
                                    <option selected value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="unitCode" class="form-label">Unit Code</label>
                            <select class="form-select" aria-label="unitCode" name="unitCode">
                                <option selected value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                              </select>
                        </div>
                        <div class="col-12">
                            <label for="reaSelection" class="form-label">Area</label>
                            <select class="form-select" aria-label="Default select example" id="areaSelection" name="area">
                                <option selected>Erdgeschoss</option>
                                <option value="1">Obergeschoss</option>
                                <option value="2">Garten</option>
                                <option value="3">Keller</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-secondary btn-lg configure-botton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>                   

    </div>
    <p class="error-message"><%=message%></p>
</div>

<%- include("footer") -%>