<%- include("header") -%>

<div class="container">
    <h1>Obergeschoss</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <% switches.forEach((switcher) => { %>
            <div class="col">
                <div class="card" style="width: 100%">
                    <h2 class="card-title"><%= switcher.name %></h2>
                    <div class="container switch-buttons ">
                        <div class="row justify-content-evenly">
                            <form class="d-grid gap-2 col-6 mx-auto" action="/on" method="post">
                                <button class="btn btn-light btn-lg" type="submit" name="switcherIdentifier" value=<%=switcher.identifier%>>On</button>
                            </form>
                            <form class="d-grid gap-2 col-6 mx-auto" action="/off" method="post">
                                <button class="btn btn-dark btn-lg" type="submit" name="switcherIdentifier" value=<%=switcher.identifier%>>Off</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %> 
    </div>
</div>

<%- include("footer") -%>