<%- include("header") -%>

<div class="container">
    <h1>Obergeschoss</h1>
    <div class="row">
        <% switches.forEach((switcher) => { %>
            <div class="col-md">
                <div class="card" style="width: 100%">
                    <h2 class="card-title"><%= switcher.name %></h2>
                    <%console.log(switcher.name)%>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form class="switchButton" action="/on" method="post">
                                    <button class="btn btn-light btn-lg btn-block" type="submit" name="switcherIdentifier" value=<%=switcher.identifier%>>On</button>
                                </form>
                            </div>
                            <div class="col">
                                <form class="switchButton" action="/off" method="post">
                                    <button class="btn btn-dark btn-lg btn-block" type="submit" name="switcherIdentifier" value=<%=switcher.identifier%>>Off</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %> 
    </div>
</div>

<%- include("footer") -%>